/*====  RESETS ==== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ecd6c4;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 6rem;

  /* Fonts sizes and family */
  --title-size: 4rem;
  --subtitle-size: 1.5rem;
  --body-size: 1.125rem;
  --title-font: 'Righteous', cursive;
  --body-font: 'Sarala', sans-serif;
}

/*===  BASE ============================ */
body {
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%)
    no-repeat center / cover;
  height: 100%;
}

.divider {
  border: 0.4px solid #fff2e7;
  width: 17.25rem;
  margin: 0 auto;
  margin-top: 5.9rem;
}

/*===  header ============================ */

header {
  display: flex;

  height: var(--header-height);
  border-bottom: 0.4px solid #ecd6c4;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 2rem;
}

header ul li {
  display: flex;
  gap: 2rem;
}

header ul li a.subtitle {
  font: 400 var(--body-size) var(--body-font);
  color: white;
  gap: 2rem;
  transition: all ease 0.3s;
}

header ul li a.subtitle:hover {
  color: #ecd6c4;
  transform: scale(1.1);
}

/*===  main ============================ */

main .title {
  font: 400 var(--title-size) var(--title-font);
  color: #fff2e7;
  margin-bottom: 2rem;
}

main .content {
  font: 400 var(--subtitle-size) var(--body-font);
  color: #ecd6c4;
  margin-bottom: 2.125rem;
}

main button {
  font: 400 var(--body-size) var(--body-font);

  padding: 0.7rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #ecd6c4;

  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.text {
  flex-direction: column;
}

/*=== main 1 ============================ */
.information {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information h1 {
  font: 400 var(--subtitle-size) var(--title-font);
  color: white;
  margin-top: 4.625rem;
  margin-bottom: 2rem;
}

.information p {
  font: 400 var(--body-size) var(--body-font);
  color: #ecd6c4;

  margin-bottom: 2rem;
}

.information span {
  font: 700 var(--body-size) var(--body-font);
}

/*===  footer ============================ */
footer {
  height: var(--header-height);
  display: flex;

  justify-content: center;
  border-top: 0.4px solid #ecd6c4;

  padding: 2rem;
}

@media (max-width: 550px) {
  nav ul li {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .information p {
    margin: 2rem 2rem;
  }

  section .image {
    width: 100%;
    height: auto;
  }

  .title {
    margin-top: 2rem;
  }

  main button {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  nav ul li {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .information p {
    margin: 2rem 2rem;
  }

  section .image {
    width: 100%;
    height: auto;
  }

  .title {
    margin-top: 2rem;
  }

  main button {
    display: flex;
    margin: 0 auto;
  }
}
